{
    "title":"solomotor.com",
    "description": "Actualidad del mundo del motor",
    
    "includeDataDir" : [
        {
            "provider_id": "RSS_As_Motor.com"
        },
        {
            "provider_id": "YTB_MotorPuntoEs"
        },
        {
            "provider_id": "YTB_LeyendasV8Official"
        }
    ]
    
}