{
    "title":"soloboxeo.com",
    "description": "Actualidad del mundo del boxeo",
    
    "includeDataDir" : [
        {
            "provider_id": "RSS_As_Boxeo.com"
        },
        {
            "provider_id": "YTB_PremierBoxingChampions",
            "keywords": "HIGHLIGHTS"
        },
        {
            "provider_id": "YTB_BoxingLegacy",
            "keywords": "HIGHLIGHTS"
        }

        
    ]
    
}